travel_event_<h1>Editing Travel Place</h1>

<%= render 'form', travel_place: @travel_place %>

<%= link_to 'Show', travel_event_travel_place_url(@travel_place) %> |
<%= link_to 'Back', travel_event_travel_places_path %>
