<p id="notice"><%= notice %></p>

<div class="row">
  <div class=" col-md-12">
    <h1>Travel Places</h1>
    <%= render(
              partial: 'travel_places/list',
              locals: {travel_places: @travel_places}
          ) %>
  </div>
</div>   
