
<div class="container">

  <div class="row">


    <div class="row mt-5 mb-5">

      <div class="col-md-12 search-bar">
	    
        <%= form_for_filterrific @filterrific do |f| %>
		
        <div class="col-md-12" class="form-group has-feedback">
		   
          <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
          <div class="input-group">
			  <%= f.text_field(
				:search_query,
				placeholder: "Search for a past Event",
				class: 'filterrific-periodically-observed form-control'
				  ) %>
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-search"></i>
				</span>
			</div>
			
		</div>
		<div class="col-md-1">
		 <%= render_filterrific_spinner %>
	    </div>
		<% end %>
           
        </div>
      </div>

      <div class="row mt-5 mb-5 search-bar">
        <div class="col-md-12">
          <%= render(
            partial: 'travel_events/past_list',
            locals: { travel_events: @travel_events }
            ) %>    
          </div>
        </div>

      </div>


    </div>



